* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}



.logoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
}